/* common */
$deepBlack:#2e323e;
$black:#3c3c41;

$deepGrey:#808080;
$grey:#eee;
$lightGrey:#f6f6f6;

$white:#fff;

$yellow:#fac72e;
$blue:#2d98cc;
$originRed:#fd5302;
$red:#e61c23;


/* character */
$pageBackgroundColor:#f0eff4;
