@import "colors";

$pseudo-class-list: link, hover, active, visited;

body {
  margin: 0;
  padding: 0;
  background-color: $pageBackgroundColor;
  font-size: 14px;
  font-family: "Helvetica Neue", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", sans-serif;
  overflow: hidden;
}

#body {
  margin: 0;
  padding: 0;
  color: $black;
}

#center-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 70px;
  overflow: hidden;
  width: 100%;
}

#scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

$px_list: 0, 5, 10, 15, 20, 25, 30, 35, 40;
$attr_data: (mt, margin-top), (mb, margin-bottom), (ml, margin-left), (mr, margin-right),
             (pt, padding-top), (pb, padding-bottom), (pl, padding-left), (pr, padding-right);
@each $name, $attr in $attr_data {
  @each $px in $px_list {
    .#{$name}-#{$px} {
      #{$attr}: #{$px}px;
    }
  }
}

$font-size-list: 10, 12, 14, 15, 16, 18, 20, 22, 24, 26, 28, 30;
@each $size in $font-size-list {
  .font-size-#{$size} {
    font-size: #{$size}px;
  }
}

.label {
  padding: 1px 3px;
  border: 1px solid $grey;
  border-radius: 2px;
  font-size: 12px;
  &.label-default {
    border-color: $grey;
    color: $grey;
  }
}

.row {
  padding: 10px 20px;
  background: $white;
}

ul {
  a {
    @each $class in $pseudo-class-list{
      &:#{$class} {
        text-decoration: none;
        color: $black;
        list-style: none;
      }
    }
  }
  &.horizontal-nav{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    background-color: $black;
    height: 50px;
    font-size: 16px;
    color: $white;
    li {
      list-style: none;
      height: 50px;
      line-height: 50px;
      float: left;
      overflow: hidden;
      &.active {
        height: 46px;
        color: $yellow;
        border-bottom:solid 4px $yellow;
      }
    }
    &.horizontal-nav-3 {
      li {
        width: 23.3333%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
}
#footer {
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    background-color: $white;
    height: 70px;
    text-align: center;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .06);
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            font-size: 12px;
            height: 70px;
            padding-top: 45px;
            width: 20%;
            float: left;
            overflow: hidden;
            $footer-bar-icon-list: course, exam, play, cert, me;
            @each $icon in $footer-bar-icon-list {
              &.#{$icon} {
                background-image: url("../../public/images/#{$icon}.png");
                background-repeat: no-repeat;
                background-position: center 10px;
                background-size: 30px 30px;
              }
            }
            @each $icon in $footer-bar-icon-list {
              &.#{$icon}.active {
                @if $icon!=play {
                  background-image: url("../../public/images/#{$icon}_active.png");
                  background-repeat: no-repeat;
                  background-position: center 10px;
                  background-size: 30px 30px;
                }
              }
            }
            a {
              padding: 45px 20%;
            }
            &.play {
              margin-top: -30px;
              padding-top: 75px;
              background-position: center top;
              background-size: 80px;
              border: 0 solid transparent;
              border-top-left-radius: 100px;
              border-top-right-radius: 100px;
              a {
                padding-top: 70px;
              }
            }
        }
    }
}

.course-info-box {
  background-color: $white;
  min-height: 200px;
  margin: 0 0 15px 0;
  padding: 20px 20px;
  .description {
    font-size: 15px;
    p {
      position: relative;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .desc-title {
      color: $black;
    }
    .desc-content {
      color: #888;
      position: absolute;
      padding-left: 10px;
    }
  }
}

.course-row {
  margin-bottom: 10px;
  img {
    width: 100%;
  }
  .left {
    width: 40%;
    display: table-cell;
    vertical-align: top;
  }
  .right {
    width: 60%;
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    p {
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  &.big {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}